html {
    background: #e9c4e4 url(https://papers.co/wallpaper/papers.co-sk13-cute-blue-blur-gradation-36-3840x2400-4k-wallpaper.jpg);
    background-size: cover;
    font-family: 'helvetica neue';
    text-align: center;
    font-size: 10px;
}

body {
    font-size: 2rem;
    display: flex;
    flex: 1;
    min-height: 100vh;
    align-items: center;
}

.clock {
    width: 30rem;
    height: 30rem;
    border: 20px solid #ffefd5;
    border-radius: 50%;
    margin: 50px auto;
    position: relative;
    padding: 2rem;
    box-shadow: 0 0 0px 4px rgba(212, 204, 187, 1)
    inset 0 0 0 3px #fffcf5
    inset 0 0 10px #5a4256;
    0 0 10px rgba(0,0,0,0.2)
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px); /* for the clock hands */
}

.hand {
    width: 50%;
    height: 6px;
    background: #5d7c7c;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}